@import url("https://fonts.cdnfonts.com/css/harlow-solid-italic");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  background-image: url(image/bg_login.png);
  background-color: black;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 100vh;
  position: relative;
}
.logo h1 {
  font-family: "Harlow Solid Italic", sans-serif;
  color: white;
  font-weight: lighter;
  padding: 20px;
  padding-left: 50px;
  font-size: 30px;
}
/*------Kiri------*/
.kiri .account {
  position: absolute;
  text-align: center;
  top: 15%;
  left: 20%;
  padding: 50px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}
.kiri .account h1 {
  color: white;
  font-family: "Montserrat", sans-serif;
  position: relative;
  top: 10px;
  left: 0;
}
.kiri .account .login-form {
  position: relative;
  left: 0;
}
.bawah-input{
  padding-top: 20px;
  color: white;
  font-weight: 100;
  display: flex;
  justify-content: space-between;
}
.bawah-input p a{
  color: white;
  font-weight: bold;
}
/*------Kanan------*/
.kanan {
  padding: 30px;
  display: flex;
  justify-content: end;
  padding-right: 150px;
}
.kanan img {
  width: 30%;
  position: absolute;
  top: 7%;
  right: 15%;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.kanan a button {
  position: absolute;
  right: 19%;
  top: 9%;
  font-size: 13px;
  padding: 5px 24px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-style: none;
  background-color: white;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  transition: 0.3s;
}
.kanan a button:hover {
  background-color: whitesmoke;
  transition: 0.3s;
}


/* Style the login form container */
.login-form {
  color: gray;
  font-weight: lighter;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
}

/* Style the form labels */
.login-form label {
  display: block;
  margin-top: 30px;
  font-weight: bold;
}

/* Style the form input fields */
.login-form input[type="text"],
.login-form input[type="password"] {
  width: 300px;
  padding-top: 10px;
  border-style: none;
  color: white;
  background-color: transparent;
  font-size: 16px;
  border: none;
  outline: none;
}
/* Style the form submit button */
.login-form button[type="submit"] {
  display: block;
  margin-top: 20px;
  width: 100%;
  padding: 10px;
  border: none;
  background-color: #8d47ff;
  border-radius: 10px;
  color: #fff;
  font-size: 12px;
  transition: 0.5s;
  cursor: pointer;
}
.login-form button[type="submit"] img{
  width: 15px;
  position: relative;
  top: 3px;
  right: 10px;
}
/* Style the form submit button on hover */
.login-form button[type="submit"]:hover {
  background-color: blueviolet;
  transition: 0.5s;
}
